<%= form_for(recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
   <% end %> <!-- end of errors loop -->
   <div class="form-group">
     <%= f.label :title %>
     <%= f.text_field :title, class: 'form-control', placeholder: "Edit recipe title" %>
   </div>
   <div class="form-group">
     <%= f.label :main %>
     <%= f.text_field :main, class: 'form-control', placeholder: "Main ingredient" %>
   </div>
   <div class="form-group">
     <%= f.label :cuisine %>
     <%= f.text_field :cuisine, class: 'form-control', placeholder: "Edit cuisine" %>
   </div>
   <div class="form-group">
     <%= f.label :body %>
     <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Edit recipe instructions" %>
   </div>
   <div class="form-group">
     <%= f.label :ingredients %>
     <%= f.text_area :ingredients, rows: 8, class: 'form-control', placeholder: "Edit ingredients" %>
   </div>
  <div class="actions">
    <%= f.submit "Save Recipe", class: 'btn btn-success' %>
  </div>
<% end %> <!-- end of form  -->
