<p id="notice"><%= notice %></p>

<h1>Dinners</h1>

<table>
  <thead>
    <tr>
      <th>Recipe</th>
      <th>Start time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dinners.each do |dinner| %>
      <tr>
        <td><%= dinner.recipe %></td>
        <td><%= dinner.start_time %></td>
        <td><%= link_to 'Show', dinner %></td>
        <td><%= link_to 'Edit', edit_dinner_path(dinner) %></td>
        <td><%= link_to 'Destroy', dinner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dinner', new_dinner_path %>

<h2>Menu Plan</h3>
<%= month_calendar events: @dinners do |date, dinners| %>
  <%= date %>
  <% dinners.each do |dinner| %>
    <div>
      <%= dinner.recipe %>
    </div>
  <% end %>
<% end %>
